@mixin marker--year() {
   background: darkblue;
   float: left;
   margin-left: 20px;
}

.box {
   // align-items: center;
   &--title {
      flex: 0 0 100%;
      // position: absolute;
      color: #055863;
      font-weight: bold;
   }
   &--1 {
      flex: 1;
   }
   &--2 {
      flex: 2;
   }
   &--color-1 {
      background-color: #0BC8E3;
   }
   &--color-2 {
      background-color: #0890A3;
   }
   &--color-3 {
      background-color: #1AB045;
   }
   &--color-4 {
      background-color: #eae0c8;
   }
}

scroll-content {
   display: flex;
   flex-direction: column;
}

ion-grid {
   padding: 0;
   height: 100%;
}


.tl {
   &--item {
      // border-left: 2px solid darkslategray;
      // height: 15px;
      // margin-left: 40px;
      // padding-left: 6px;
      position: relative;
      display: inline-block;
      list-style-type: none;
   }

   &--items {
      
   }
}
.timeline {
   &--year {
      color: darkslategray;
      display: flex;
      align-items: flex-end;
      margin-right: 20px;
      margin-bottom: 3vh;
      &::after {
         color: darkslategray;
         position: relative;
         content: "";
         top: 3vh;
         left: -50%;
         right: 0;
         height: 0px;
         width: 0px;
         margin: 0 auto;
         border-left:10px solid transparent;
         border-right:10px solid transparent;
         border-top:10px solid darkslategray;
      }
   }
   &--line {
      &-sm {
         margin-left: 4px;
         height: 10px;
         width: 1px;
      }
      &-md {
         margin-left: 3px;
         height: 20px;
         width: 2px;
      }
   }
}

.timeline--outer {
   overflow: scroll;
   height: 100%;
}

.timeline--inner {
   width: 5600px;
   height: 100%;
}