@function row-height($totalRows) {
   @return (100 / $totalRows);
}

@function row-top($totalRows, $row) {
   @return row-height($totalRows) * ($row - 1);
}

@mixin row-location($totalRows, $row) {
   height: row-height($totalRows) + %;
   top: row-top($totalRows, $row) + %;
}

@mixin marker--year() {
   background: darkblue;
   float: left;
   margin-left: 20px;
}

@mixin tl-item-full($color) {
   border-color: $color;
   background-color: $color;
}

@mixin tl-item-side($color) {
   border-color: $color;
}

.disabled {
   color: lightgray;
}

.box {
   position: relative;
   &--title {
      // flex: 0 0 100%;
      // position: absolute;
      color: #055863;
      font-weight: bold;
      position: fixed;
   }
   &--1 {
      flex: 0.5;
   }
   &--2 {
      flex: 2;
   }
}

scroll-content {
   display: flex;
   flex-direction: column;
}

ion-grid {
   padding: 0;
   height: 100%;
}

.tl {
   &--item {
      position: absolute;
      display: flex;
      align-items: center;
      list-style-type: none;
      border-left-style: solid;
      border-radius: 5px;
      margin-top: 2px;
      margin-bottom: 2px;
   }

   @each $i, $color in 
      (1, #0BC8E3),(2, #0890A3),(3, #1AB045),
      (4, #eae0c8),(5, #0B99E3),(6, #009033) {
      &--bg-#{$i} {
         @include tl-item-full($color);
      }
      &--side-#{$i} {
         @include tl-item-side($color);
      }
   }

   &--row {
      @for $i from 1 through 6 {
         @for $j from 1 through $i {
            &-#{$i}-#{$j} {
               @include row-location($i, $j);
            }
         }
      }
   }

   &--year-marker {
      color: darkslategray;
      position: absolute;
      border-left: 1px solid darkslategray;
      padding-left: 5px;
      height: 100%;
   }
}
.timeline {
   &--year {
      color: darkslategray;
      position: relative;
      left: 0px;
      border-left: 2px solid black;
      padding-left: 5px;
   }
   &--line {
      &-sm {
         margin-left: 4px;
         height: 10px;
         width: 1px;
      }
      &-md {
         margin-left: 3px;
         height: 20px;
         width: 2px;
      }
   }
   &--outer {
      overflow: scroll;
      height: 100%;
   }

   &--inner {
      height: 100%;
   }
}
