<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kings of Judah</ion-title>
    <ion-buttons end>
      <button ion-button (click)="showKingsListModal()">
        <ion-icon name="md-list-box"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card (swipe)="scroll($event)">
      <ion-card-header text-center>{{selectedKing.startReignYear}} - {{selectedKing.endReignYear}}</ion-card-header>
      <ion-card-content>
        <ion-card-title>
          <ion-label *ngIf="selectedKing.kingNumber != 7" color="primary" stacked>King</ion-label>
          <ion-label *ngIf="selectedKing.kingNumber === 7" color="primary" stacked>Queen</ion-label>
          <span (click)="showKingsListModal()">
            {{selectedKing.kingName}}
            <span style="color:cornflowerblue;font-size:14px">Age: {{selectedKing?.age||'?'}}</span>
          </span>
        </ion-card-title>
      </ion-card-content>

      <ion-list>
        <ion-item-group style="border-bottom:0.5px solid white">
          <button ion-item color="secondary" *ngIf="selectedKing?.sons && selectedKing.sons.length > 0" (click)="toggleSons()">Sons  ({{selectedKing.sons.length}})</button>
          <span *ngIf="showSons">
            <ion-item *ngFor="let son of selectedKing.sons">{{son}}</ion-item>
          </span>
        </ion-item-group>
        <ion-item-group style="border-bottom:0.5px solid white">
          <button ion-item color="secondary" *ngIf="selectedKing?.highPriests && selectedKing.highPriests.length > 0" (click)="togglePriests()">High Priests ({{selectedKing.highPriests.length}})</button>
          <span *ngIf="showPriests">
            <ion-item *ngFor="let priest of selectedKing.highPriests">{{priest}}</ion-item>
          </span>
        </ion-item-group>
        <ion-item-group>
          <button ion-item color="secondary" *ngIf="selectedKing?.prophets && selectedKing.prophets.length > 0" (click)="toggleProphets()">Prophets ({{selectedKing.prophets.length}})</button>
          <span *ngIf="showProphets">
            <ion-item *ngFor="let prophet of selectedKing.prophets">{{prophet}}</ion-item>
          </span>
        </ion-item-group>
      </ion-list>
    </ion-card>
  

  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button [disabled]="!prevKingName" (click)="prevKing()" block ion-button icon-left outline>
            <ion-icon name="arrow-back"></ion-icon>
            {{prevKingName}}
          </button>
        </ion-col>
        <ion-col>
          <button [disabled]="!nextKingName" (click)="nextKing()" block ion-button icon-right outline>
            {{nextKingName}}
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
